*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    margin: 0 auto;
    padding: 20px 100px;
}

.row-1-left,
.row-1-centre,
.row-1-right,
.row-2-left,
.row-2-centre,
.row-2-right{
    height: 500px;
    width: 350px;
    float: left;
}

.row-1, .row-2{
    width: 100%;
    margin-bottom: 100px;
}

.row-1-centre, .row-2-centre{
    margin: 0 20px;
}

.heart{
    text-align: center;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: white;
    line-height: 40px;
    position: absolute;
    top: 15px;
    right: 0;
}

.heart:hover{
    color: red;
    height: 40px;
    width: 40px;
    font-size: 1.5em;
    background-color: white;
    line-height: 40px;
    position: absolute;
}

.row-1-left,
.row-1-centre,
.row-1-right,
.row-2-left,
.row-2-centre,
.row-2-right{
    position: relative;
}

.sale{
    font-weight: 400;
    color: white;
    font-size: small;
    width: 3em;
    height: 2em;
    background-color: red;
    position: absolute;
    left: 0px;
    bottom: 15px;
    line-height: 2em;
    text-align: center;
}

.sostenibilità{
    font-weight: 400;
    color: white;
    font-size: small;
    width: 7em;
    height: 2em;
    background-color: green;
    position: absolute;
    left: 3.2em;
    bottom: 15px;
    line-height: 2em;
    text-align: center;
}

.description{
    position: absolute;
    left: 0;
    top: 101%;
}

p{
    font-weight: 300;
}

h3{
    font-size: large;
}

.price{
    font-size: small;
}

.red-price{
    color: red;
}

.line{
    text-decoration: line-through;
}

.img-row-1-left{
    height: 100%;
    background-image: url(../img/1.webp);
    background-size: cover;
    background-position: center;
}

.img-row-1-left:hover{
    height: 100%;
    background-image: url(../img/1b.webp);
    background-size: cover;
    background-position: center;
}

.img-row-1-centre{
    height: 100%;
    background-image: url(../img/2.webp);
    background-size: cover;
    background-position: center;
}

.img-row-1-centre:hover{
    height: 100%;
    background-image: url(../img/2b.webp);
    background-size: cover;
    background-position: center;
}

.img-row-1-right{
    height: 100%;
    background-image: url(../img/3.webp);
    background-size: cover;
    background-position: center;
}

.img-row-1-right:hover{
    height: 100%;
    background-image: url(../img/3b.webp);
    background-size: cover;
    background-position: center;
}

.img-row-2-left{
    height: 100%;
    background-image: url(../img/4.webp);
    background-size: cover;
    background-position: center;
}

.img-row-2-left:hover{
    height: 100%;
    background-image: url(../img/4b.webp);
    background-size: cover;
    background-position: center;
}

.img-row-2-centre{
    height: 100%;
    background-image: url(../img/5.webp);
    background-size: cover;
    background-position: center;
}

.img-row-2-centre:hover{
    height: 100%;
    background-image: url(../img/5b.webp);
    background-size: cover;
    background-position: center;
}

.img-row-2-right{
    height: 100%;
    background-image: url(../img/6.webp);
    background-size: cover;
    background-position: center;
}

.img-row-2-right:hover{
    height: 100%;
    background-image: url(../img/6b.webp);
    background-size: cover;
    background-position: center;
}

.sostenibilità-2{
    font-weight: 400;
    color: white;
    font-size: small;
    width: 7em;
    height: 2em;
    background-color: green;
    position: absolute;
    left: 0px;
    bottom: 15px;
    line-height: 2em;
    text-align: center;
}


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
